name: Alpakabroker Abstractions

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301

    - name: Add Source
      run: dotnet nuget add source https://nuget.pkg.github.com/salt-lake-city/index.json -n github -u NyghtX -p ${{ secrets.API_KEY }} --store-password-in-clear-text
    
    - name: Install dependencies
      run: dotnet restore "src\SaltLakeCity.Framework.Alpakabroker.Abstractions\SaltLakeCity.Framework.Alpakabroker.Abstractions.csproj"
    - name: Build
      run: dotnet build "src\SaltLakeCity.Framework.Alpakabroker.Abstractions\SaltLakeCity.Framework.Alpakabroker.Abstractions.csproj" --configuration Release --no-restore
    - name: Pack
      run: dotnet pack "src\SaltLakeCity.Framework.Alpakabroker.Abstractions\SaltLakeCity.Framework.Alpakabroker.Abstractions.csproj" --configuration Release
    - name: Publish
      run: dotnet nuget push "src/SaltLakeCity.Framework.Alpakabroker.Abstractions/bin/Release/*.nupkg" --skip-duplicate --source github  